p {
    background-color: red;
    padding: 20px;
}
.blog-1 {
    background-color: tomato;
}
.blog-2 {
    text-align: center;
    background-color: gray;
    border: 3px solid black;
    padding: 30px;
}